.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 20px double tomato;
  padding: 12px;
}

.header{
  border: 5px solid palevioletred;
  padding: 10px;
}

body{
  padding: 10px;
  background-color: chartreuse;
}

input[type=text] {
  background-color: darkred;
  color: white;
}