.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 10px double tomato;
  padding: 10px;
}

.header{
  border: 5px solid palevioletred
  padding: 10px;
}

body{
  padding: 10px;
  background-color: chartreuse;
}